body { 
    font-family: jost, sans-serif;
    letter-spacing: .09em;
    color: white !important;
}

body.home {
    background-color: #00b172;
    background-image: url("../images/bg.png") !important; 
    background-size: 100% auto;
    background-repeat: no-repeat;
}

body.rest {
    background-color: #00b172;
    background-image: url("../images/bg2.png") !important; 
    background-size: 100% auto;
    background-repeat: no-repeat;
}

h1 {
    font-size: 7vh !important;
    text-shadow: 2px 2px #0000007e;
    text-transform: uppercase;
}

h2 {
    font-size: 3vh !important;
    text-shadow: 1.4px 1.4px #00000075;
    line-height: 35px !important;
    text-transform: uppercase;
}

h3 {
    font-size: 2vh !important;
    text-shadow: 1.4px 1.4px #00000075;
    line-height: 35px !important;
    text-transform: uppercase; 
}

p {
    font-size: 2vh;
    text-shadow: 1px 1px #0000006c;
}

.my-name {
    letter-spacing: .5vw;
}

#profile {
    padding-top: 2em;
    font-size: 2.2vh;
    text-shadow: 1.5px 1.5px #00000067;
    text-transform: uppercase;
}

#section1 {
    height: 100vh;
    margin: 2em 1em 0em 6em !important;
    display: inline-block !important;
}

#section1-mobile h1.my-name {
    font-size: 8vw !important;
}

#section1-mobile p {
    font-size: 3vw !important;
}

#section1-mobile h2 {
    font-size: 2.8vw !important;
}

#section1-mobile h4 {
    font-size: .8em !important;
    text-transform: none !important;
    text-shadow: .5px .5px #0000007e;
}

#section2 {
    height: 100vh;
    background-image: url("../images/bg2.png") !important;
}

#section2-mobile > .ui.grid.container {
    padding-top: 2em !important;
}

#section2-mobile h1 {
    font-size: 3em !important;
}

#section2-mobile h2 {
    font-size: 1em !important;
    line-height: 1em !important;
}

#section2-mobile p {
    font-size: .8em !important;
    line-height: 1.2em !important;
    text-shadow: .5px .5px #0000007e;
}

#projectLinks {
    color: white;
    text-decoration: underline;
}

#uni {
    margin: 0;
    padding-top: .5em;
}

.ui.inverted.menu {
    background-color: #353446 !important;
}

.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui) {
    text-transform: uppercase;
}

.ui.menu .ui.dropdown.item .menu .item:not(.filtered) {
    text-transform: uppercase !important;
}

#section2 > .ui.grid.container {
    display: inline !important;
}

#section2 > .ui.grid>* {
    padding: 2em 5em !important;
}

.ui.menu>.container, .ui.menu>.grid {
    width: 90%;
}

#section2 h1 {
    font-size: 40px;
    text-align: center;
    width: 100%;
    letter-spacing: .5vw;
    text-transform: uppercase;
    margin-top: 2em;
}

#section2 h2 {
    text-transform: uppercase;
}

.ui.grid+.grid {
    margin-top: 3.5em !important;
    padding-top: 1em;
}

@media screen and (max-width: 768px) {
    h3 {
        font-size: 1.5vh !important;
        line-height: 1.8em !important;
        text-shadow: 1px 1px #0000007e;
        text-transform: none;
    }

    .ui.grid+.grid {
        margin-top: 1em !important;
        padding-top: 1.2em;
    }

    p {
        font-size: 1em;
    }

    .ui.button {
        margin-top: 1em !important;
    }

    body.rest {
        text-align: center !important;
    }
}