body { 
    font-family: jost, sans-serif;
}

body.home {
    background-color: #00b172;
    background-image: url("images/bg.png") !important; 
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: auto;
    overflow-x: hidden;
}

body.rest {
    background-color: #00b172;
    background-image: url("images/bg2.png") !important; 
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: auto;
    overflow-x: hidden;
}

p {
    color: white;
}

h1 {
    text-shadow: .05em .05em black;
}

#mainText {
    margin-left: 4%;
    margin-top: 3%
}

#mainTextMobile {
    margin-left: 4%;
    margin-top: 1%;
    padding: 4em 1em 1em 1em;
}

#bio {
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: .08em;
}

#bioMobile {
    color: white;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#desc {
    color: white;
    margin-top: 5%;
    padding: 1em 1em 1em 1em;
}


.uppercase {
    text-transform: uppercase;
}

.ui.inverted.menu {
    background-color: #353446 !important;
}

.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui) {
    text-transform: uppercase;
}

.ui.menu .ui.dropdown.item .menu .item:not(.filtered) {
    text-transform: uppercase !important;
}

.ui.grid.container {
    margin-top: 3%;
}